extends ../layout/index

block conteudo
  .py-10
    h1.text-4xl.my-10.font-extrabold.text-center Imóveis
      span.font-normal Corretora
    h2.text-center.text-2xl.font-extrabold= pagina

    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
      form.space-y-8
        div.space-y-5
          h3.text-lg.leading-6.font-medium.text-gray-900 Informação Geral
          p.text-gray-600 Insira informação sobre a propriedade a venda

          div
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="titulo") Título do anúncio 
            input#titulo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(type="text" name="titulo" placeholder="Título do anúncio, ex. casa de praia")

          div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
            div(class="md:w-1/2")
              label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="categoria") Categoria
              select#categoria.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="categoria")
                option(value="") - Selecione -
            
            div(class="md:w-1/2")
              label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="preco") Preço
              select#preco.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="preco")
                option(value="") - Selecione -