header.bg-indigo-600.p-4 
  .container.mx-auto.flex.justify-between.items-center
    h1.text-2xl.text-white.font-extrabold.text-center Imóvies  
      span.font-normal Corretora

    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white" hidden) 
        a(href="") Minhas propriedades
        a(href="") Meu Perfil
        a(href="" class="bg-indigo-800 py-2 px-10 rounded-lg") Sair